@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    background-color: rgba(54, 86, 242, 0.991);
    justify-content: space-between;
    position: sticky;
    box-shadow: rgb(27, 26, 26) 0px 0px 15px;

}

.logo {
    display: flex;
    align-items: center;

}

.logo h1 {
    color: rgb(238, 219, 125);
    font-family: 'Pacifico', cursive;

}

.logo img {
    width: 50px;
    margin: 6px 14px;
    user-select: none;

}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 10px;


}

nav ul a {
    text-decoration: none;
    align-items: center;
    list-style: none;
    padding: 10px 32px;
    margin: 0px 5px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    transition-duration: .3s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
}

nav ul a:hover {
    color: rgb(33, 32, 32);
    background-color: rgb(199, 199, 199);
    border-radius: 20px;

}