* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins-semibold", serif;
}

#tsparticles {
  overflow: hidden;
  height: 99vh;
  width: 99vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #181d23;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(187, 180, 180);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(199, 185, 185);
}

#modal {
  position: fixed;
}